* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    font-family: sans-serif;
}

body {
    padding: 50px;
}

.flex:nth-of-type(2) > div > div:not(:first-child) {
    margin-top: 20px;
}

.section2 > div, 
.section1 > div div:not(.flex)
{
    height: 200px;
    background-color: aquamarine;
    border: 2px solid black;
}

.reset {
    height: auto !important;
    border: none !important;
    background: none !important;
}

.section1 div.big {
    height: 420px !important;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    gap: 40px;
}

.flex > div {
    width: 50%;
}

section {
    display: flex;
    gap: 40px;
}

.section1 > div {
    width: 50%;
}

.section2 {
    margin-top: 40px;
}

.section2 > div {
    width: 25%;
}

.section2 > div.large {
    width: 50%;
}

.full-height {
    height: 100% !important;
}