* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section > div {
    background: red;
    border: 3px solid greenyellow;
    margin-bottom: 10px;
}

h2 ~ p {
    color: aquamarine;
}

h2 ~ p.special {
    color: burlywood;
}